# Getting Started

In this exercise, you'll get familiar with the following basics of python:

- Creating variables (lists, dictionaries)
- Writing functions
- List comprehensions

# Student Details

- Name: Vivaan Bhandari
- Age: 17

*this is italics text*

**this is bold text**

Hi! I am a student at Atlas University.

# Basic variables
Variables in python are loosely typed, so you can quickly create numeric, character, or boolean values. Variable names should be expressive, and be written as lower-case words that are underscore separated (i.e., `variable_name`)

In [6]:
# Student Name
student_name = "Vivaan Bhandari"
student_name

'Vivaan Bhandari'

In [7]:
# Student's Age
student_age = 17
student_age

17

In [8]:
# Father's Age
father_age = 43
father_age

43

In [9]:
# Mother's Age
mother_age = 43
mother_age

43

In [21]:
# Average Family Age
average_age = (student_age + father_age + mother_age) / 3
(average_age)

34.333333333333336

In [22]:
#Phrase
phrase = "The average family age is "
phrase

'The average family age is '

In [27]:
#Sentence

sentence = phrase + str(round(average_age))
sentence

'The average family age is 34'

In [41]:
#Are my parents of the same age?

parents_age = mother_age > father_age
print ("This is " + str(parents_age))

This is False

In [36]:
# Create a numeric variable `hours_in_a_year` equal to the number of hours in a year

# A normal year has 365 days and one day has 24 hours
days_in_a_year = 365
hours_in_a_day = 24
hours_in_a_year = str((days_in_a_year*hours_in_a_day)) + " hours"
hours_in_a_year

'8760 hours'

In [2]:
# Create a numeric variable `seconds_in_a_day` equal to the number of seconds in a day

# One day has 24 hours 
# One hour has 60 minutes 
# One minute has 60 seconds
seconds_in_a_day = str((24 * 60 * 60)) + " seconds"
seconds_in_a_day

'86400 seconds'

In [3]:
# Create a boolean variable `more_seconds_than_hours` that is true 
# if there are more seconds in a day than hours in a year
more_seconds_than_hours = seconds_in_a_day > hours_in_a_year 
more_seconds_than_hours

False

In [4]:
# Print out all 3 of your variables
print(hours_in_a_year)
print(seconds_in_a_day)
print(more_seconds_than_hours)

8760 hours
86400 seconds
False

In [5]:
# Create and print a character variable `learned` that holds the string:
# "I just learned that there are X hours in a year, and Y seconds in a day"
# Replace X and Y with the values from above

learned = "I just learned that there are " +  hours_in_a_year + "hours in a year, and " + seconds_in_a_day + " seconds in a day"
print(learned)

I just learned that there are 8760 hourshours in a year, and 86400 seconds seconds in a day

# Lists and Dictionaries

## Lists
A **list** is a mutable, ordered sequence of values that are all stored in a single variable. You can create a list of elements by placing comma separated values inside of square brackets. Note, elements may be of different types.

In [31]:
my_friends = ["Neil", "Nitin", "Mukesh"]
my_friends

['Neil', 'Nitin', 'Mukesh']

In [32]:
my_friends [0]

'Neil'

In [35]:
my_friends.append("Bruh")
my_friends

['Neil', 'Nitin', 'Mukesh', 'Bruh', 'Bruh']

In [36]:
my_friends.clear()
my_friends

[]

In [34]:
# Create a list `friends` that has a list of 3 of your friends' names in it
friends = ["Utsav", "Varun", "Zubair"]
friends

['Utsav', 'Varun', 'Zubair']

In [29]:
# Create a list `family` that has a list of 3 of your family members' names in it
family = ["Kashmira", "Marbin", "Zahid"]
family

['Kashmira', 'Marbin', 'Zahid']

In [30]:
# Use the `append` list method to add another family member to your `family` list
family.append("Zoshua")
family

['Kashmira', 'Marbin', 'Zahid', 'Zoshua']

In [9]:
# Create and print a list `people` that contains your lists `friends` and `family`

people = family + friends
people

['Kashmira', 'Marbin', 'Zahid', 'Zoshua', 'Utsav', 'Varun', 'Zubair']

## Dictionaries
A **dictionary** is an object stores a _key-value pair_ in python. You can create a dictionary by passing _colon separated_ pairs inside of curly braces (i.e., `dict = {'key':value}`)

In [53]:
vivaan_dictionary = {"Name": "Vivaan Bhandari",
                    "Favourite Food": "Sushi",
                    "Favourite Drink": "Water",
                    "College": "ATLAS"
                    }
vivaan_dictionary

{'Name': 'Vivaan Bhandari',
 'Favourite Food': 'Sushi',
 'Favourite Drink': 'Water',
 'College': 'ATLAS'}

In [54]:
vivaan_dictionary["College"]

'ATLAS'

In [55]:
vivaan_dictionary["Age"] = 17
vivaan_dictionary

{'Name': 'Vivaan Bhandari',
 'Favourite Food': 'Sushi',
 'Favourite Drink': 'Water',
 'College': 'ATLAS',
 'Age': 17}

In [60]:
vivaan_dictionary["Scores"] = [25,50,75]
vivaan_dictionary

{'Name': 'Vivaan Bhandari',
 'Favourite Food': 'Sushi',
 'Favourite Drink': 'Water',
 'College': 'ATLAS',
 'Age': 17,
 'Scores': [25, 50, 75]}

In [61]:
vivaan_dictionary["Scores"].append(100)
vivaan_dictionary

{'Name': 'Vivaan Bhandari',
 'Favourite Food': 'Sushi',
 'Favourite Drink': 'Water',
 'College': 'ATLAS',
 'Age': 17,
 'Scores': [25, 50, 75, 100]}

In [62]:
num_keys_vivaan_dictionary = len(vivaan_dictionary)
num_keys_vivaan_dictionary

6

In [10]:
# Create a dictionary `people_dict` that has a key for `family` and a key for `friends` (using values above)

people_dict = {"family":family, "friends":friends}
print(people_dict)

{'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'], 'friends': ['Utsav', 'Varun', 'Zubair']}

In [11]:
# Add a new key `coworkers` to your `people_dict` object (it should contain 3 names of coworkers) 
people_dict["coworkers"] = ["zubair", "ansul", "yiran"]
people_dict

{'coworkers': ['zubair', 'ansul', 'yiran'],
 'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'],
 'friends': ['Utsav', 'Varun', 'Zubair']}

In [12]:
# Print your people_dict object
print(people_dict)

{'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'], 'friends': ['Utsav', 'Varun', 'Zubair'], 'coworkers': ['zubair', 'ansul', 'yiran']}

In [13]:
# Create and print a variable `num_people_categories` that conatins the *number of keys* of your `people_dict` 
num_people_categories = len(people_dict)
num_people_categories

3

# Functions
Functions are a series of executable steps stored in a variable. They can be created with the `def` keyword.

In [105]:
#Averaging out 2 Numbers
def avg_numbers(number1,number2):
    print("Number 1 is ", number1)
    print("Number 2 is ", number2)
    return "Your answer is "+str((number1+number2)/2)

In [106]:
x = avg_numbers(13,42)

Number 1 is  13
Number 2 is  42

In [107]:
x

'Your answer is 27.5'

In [115]:
def test_awesome:
    return "awesome" in "Vivaan is awesome"

SyntaxError: invalid syntax (<ipython-input-115-1460bec94be9>, line 1)

In [119]:
# Write a function `make_awesome` that adds the string " is awesome!" to the end of any parameter it is passed
# Include a proper doc string that describes what the function returns


# returns the words " is awesome" after the string (text_input) passed through parameters
def make_awesome(text_input):
    return text_input + " is awesome!"

In [15]:
# Pass "Data Science" to your function
make_awesome("data science")

'data science is awesome!'

In [16]:
# Write a function `is_it_awesome` that returns a boolean (true/false) if a string has the word "awesome" in it
# Include a proper doc string that describes what the function returns

# returns a boolean if the string passed through parameters contains "awesome"
def is_it_awesome(text_input): 
    return "awesome" in text_input

In [120]:
def test_awesome (text_input):
    return "awesome" in text_input

In [121]:
test_awesome("Vivaan is awesome")

True

In [18]:
# Write a more general function `phrase_has_string` that takes in a `phrase` and a `string` and returns
# A boolean indicating if the phrase contains the string. It should not be case sensitive.
# Include a proper doc string that describes what the function returns

# returns a boolean if the text contains the phrase passed through the parameters
def phrase_has_string(phrase, text_input): 
    return phrase in text_input

In [19]:
# Test out your function
phrase_has_string("car", "I want a car ...amongst other things")

True

In [23]:
# Define a function `count_relationships` that takes in a dictionary of relationships (such as `people_dict`)
# And returns a dictionary of the number of relationships of each type (i.e. {"friends":4, "family":3})
# Hint: use a loop
# Include a proper doc string that describes what the function returns


# returns the number of values in a list for each key in the dictionary passed through the parameters
def count_relationships(relationships):
    for k in relationships:
        relationships[k] = len(relationships[k])
    return (relationships)

In [29]:
# Pass `people_dict` to `count_relationships`
count_relationships(people_dict)

{'coworkers': 3, 'family': 4, 'friends': 3}

In [26]:
# Define a function `total_relationships` take in a dictionary of relationships (such as `people_dict`)
# And returns the total number of relationships
# Hint: use a *list comprehension* and your `count_relationships` function (separately)
# Include a proper doc string that describes what the function returns

# returns the total number of relationships in the dictionary passed to it through the pararmeters
def total_relationships(relationships):
    d_new = count_relationships(relationships)
    total = 0
    for k in d_new:
        total = total + d_new[k]
    return total

In [32]:
test = {'family': ['Kashmira', 'Marbin', 'Zahid', 'Zoshua'],
 'friends': ['Utsav', 'Varun', 'Zubair'],
 'coworkers': ['zubair', 'ansul', 'yiran']}

In [33]:
# Use the `total_relationships` function to count the number of people in `people_dict`

# total_rel = total_relationships(people_dict)
# for some reason my people_dict variable gets messed up after it runs in the count_relationships

# I have used test due to the error I get when I try to use the people_dict variable
total_rel = total_relationships(test)
total_rel

10